<h1 class="ui center aligned header"><span><i class="mail icon"></i></span> Benachrichtigungen PM10</h1>
<div class="ui container">
  <div class="ui basic segment">

    <table class="ui compact celled definition table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Sensor IDs (Link auf Karte)</th>
          <th>Warnung bei Überschreitung des Mittelwertes über (x Stunden)</th>
          <th>Überschreitung des Mittelwertes von (mg/3m)</th>
          <th>wenn Abstand zure letzten Benachrichtigung > (Stunden)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |n| %>
        <tr>
          <td class="collapsing">
            <%= best_in_place n,
                :enabled, as: :checkbox,
                collection: {
                    false: "aus",
                    true: "aktiv"}, class: 'highlight_on_success' %>
          </td>
          <td><%= best_in_place n,
                :name, :as => :input, class: 'highlight_on_success' %></td>
          <td><%= n.sensors.map {|s| link_to s.extern_db_id, sensor_path(id: s.extern_db_id) }.join(', ').html_safe %></td>
          <td><%= render 'aggregation_time', notification: n %></td>
          <td><%= best_in_place n,
                :limit_value, :as => :input, class: 'highlight_on_success', place_holder: 50 %> mg/3m</td>
          <td><%= render 'interval_to_send', notification: n %></td>
          <td><%= link_to 'löschen', notification_path(n.id), method: :delete, data: { confirm: 'Die Sensorbenachrichtigung wirklich löschen?' } %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th></th>
          <th colspan="6">
            Beachte, dass wir in der Beta Phase sind... ändere die Werte auf eigene Verantwortung.
          </th>
        </tr>
      </tfoot>
    </table>
    <%= link_to 'Neuen Sensoralarm anlegen', sensors_path, class: "ui button" %>
  </div>
</div>

<script type="text/javascript">
  $(".best_in_place").best_in_place();

</script>
