<div class="ui container">
  <div class="ui basic segments">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.sign_in', :default => "Sign in") %></h2>
      </div>
      <div class="ui form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me%>
                      <%= t('.remember_me', :default => "Remember me") %>
                  <% end %>
                </div>
            <% end %>
            <%= f.submit  t('.sign_in', :default => "Sign in"), class: "ui primary basic button" %>
        <%end%>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>